<!--------------------------------------------------------------------------------
 AddEdit HTML

 This template controls both the add and edit functions of the site. The function activated is what determines how this template is used.

 addBook - shows a blank form for a user to fill out a title, author, description, and genre to create a new book to add to the database.

 editBook - shows a pre-filled form of the book the user wishes to edit. The user can then update the title, auther, description, and genre to edit the book and make the change to the database.
--------------------------------------------------------------------------------->
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="main-and-sidebar-wrapper">
	<section class="main">
		<div class="page-headers">
			<!-- Title of page depending on if Adding book or Editing ----------------->
			{% if book %}
				<h2 class="add-edit-header">Edit {{book.title}}</h2>
			{% else %}
				<h2 class="add-edit-header">Add a New Book</h2>
			{% endif %}
		</div>
		<div class="add-edit-form"
			<!-- Adding and Editing Form Fields --------------------------------------->
			<form action="#" method = "post">
				<div class="form-group">
					<div class="form-info"
						<!-- Title ---------------------------------------------------------->
						<div class="title-box"
							<label for="title">Title:</label>
							<input type="text" maxlength="500" class="form-control" name="title" placeholder="Book Title" {% if book %} value="{{book.title}}"{% endif %}>
						</div>

						<!-- Author --------------------------------------------------------->
						<div class="author-box">
							<label for="author">Author:</label>
							<input type="text" maxlength="250" class="form-control" name="author" placeholder="Book Author" {% if book %} value="{{book.author}}"{% endif %}>
						</div>

						<!-- Description ---------------------------------------------------->
						<div class="description-box">
							<label for="description">Description:</label>
							<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Book Description">{% if book %} {{book.description}}{% endif %}</textarea>
						</div>

						<!-- Genre Dropdown Menu -------------------------------------------->
						<div class="genre-box">
							<label for="genre">Genre:</label>
							<select name="genre">
								<option value="classic" {% if book and book.genre == 'classic' %} selected {% endif %}>Classic</option>
								<option value="crime" {% if book and book.genre == 'crime' %} selected {% endif %}>Crime</option>
								<option value="fantasy" {% if book and book.genre == 'fantasy' %} selected {% endif %}>Fantasy</option>
								<option value="historical-fiction" {% if book and book.genre == 'historical-fiction' %} selected {% endif %}>Historical Fiction</option>
								<option value="magical-realism" {% if book and book.genre == 'magical-realism' %} selected {% endif %}>Magical Realism</option>
								<option value="mystery" {% if book and book.genre == 'mystery' %} selected {% endif %}>Mystery</option>
								<option value="science-fiction" {% if book and book.genre == 'science-fiction' %} selected {% endif %}>Science Fiction</option>
								<option value="suspense-thriller" {% if book and book.genre == 'suspense-thriller' %} selected {% endif %}>Suspense Thriller</option>
								<option value="romance" {% if book and book.genre == 'romance' %} selected {% endif %}>Romance</option>
								<option value="dystopia" {% if book and book.genre == 'dystopia' %} selected {% endif %}>Dystopia</option>
							</select>
						</div>
						<div class="buttons">
							<!-- Submit Button ---------------------------------------------------->
							<button type="submit" id="submit">
								<span aria-hidden="true"></span>{% if book %}Edit {% else %}Create {% endif %}
							</button>

							<!-- Cancel Button (Redirect depends on if Adding or Editing) ------------->
							{% if book %}
								<a href = "{{url_for('showBookInfo', book_title = book.urlSafeTitle, book_id = book.id)}}">
									<span aria-hidden="true"></span>Cancel
								</a>
							{% else %}
								<a href = "{{url_for('showRecentBooks')}}">
									<span aria-hidden="true"></span>Cancel
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</div>

{% endblock %}
