{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="main-and-sidebar-wrapper">
	<section class="main book-info-main">
		<div class="page-headers book-info-headers">
			<h2>{{book.title}}</h2>
			<h3>By: {{book.author}}</h3>
		</div>
		<div class="book-info">
			<img src="{{book.image}}" alt="{{book.title}}" height="300" width="200">
			<p class="book-description">{{book.description}}</p>
		</div>
		{% if session.user_id == book.user_id %}
			<div class="book-buttons">
				<a class="edit-button" href="{{url_for('editBook', book_title = book.urlSafeTitle, book_id = book.id)}}">Edit</a>
				<a class="delete-button" href="{{url_for('deleteBook', book_title = book.urlSafeTitle, book_id = book.id)}}">Delete</a>
			</div>
		{% endif %}
	</section>
</div>

{% endblock %}
