<!--------------------------------------------------------------------------------
 Delete HTML

 This template will delete a book from the database if the user is signed in and created the book.
--------------------------------------------------------------------------------->
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="main-and-sidebar-wrapper">
	<section class="main">
		<div class="page-headers">
			<h2 class="delete-header">Are You Sure You Want to Delete {{book.title}}?</h2>
		</div>
		<div class="delete-form"
			<form action="#" method = 'post'>
				<!-- Delete Button ------------------------------------------------------>
				<button type="submit" id="submit" class="delete">
					<span aria-hidden="true"></span>Delete
				</button>
			</form>
			<!-- Cancel Button -------------------------------------------------------->
			<a href = "{{url_for('showBookInfo', book_title = book.urlSafeTitle, book_id = book.id)}}" class="delete-cancel">
				<span aria-hidden="true"></span>Cancel
			</a>
		</div>
	</section>
</div>

{% endblock %}
