<h2>Genres</h2>

<ul class="genres-list">
	<li><a href="{{url_for('showGenreBooks', book_genre = 'Classic')}}">Classic</a></li>
	<li><a href="{{url_for('showGenreBooks', book_genre = 'Crime')}}">Crime</a></li>
	<li><a href="{{url_for('showGenreBooks', book_genre = 'Fantasy')}}">Fantasy</a></li>
	<li><a href="{{url_for('showGenreBooks', book_genre = 'Historical Fiction')}}">Historical Fiction</a></li>
	<li><a href="{{url_for('showGenreBooks', book_genre = 'Magical Realism')}}">Magical Realism</a></li>
	<li><a href="{{url_for('showGenreBooks', book_genre = 'Mytstery')}}">Mystery</a></li>
	<li><a href="{{url_for('showGenreBooks', book_genre = 'Science Fiction')}}">Science Fiction</a></li>
	<li><a href="{{url_for('showGenreBooks', book_genre = 'Suspense Thriller')}}">Suspense Thriller</a></li>
	<li><a href="{{url_for('showGenreBooks', book_genre = 'Romance')}}">Romance</a></li>
	<li><a href="{{url_for('showGenreBooks', book_genre = 'Dystopia')}}">Dystopia</a></li>
</ul>
