<h2 class="genre-title">Genres</h2>

<ul class="genres-list">
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'classic')}}">Classic</a></li>
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'crime')}}">Crime</a></li>
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'fantasy')}}">Fantasy</a></li>
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'historical-fiction')}}">Historical Fiction</a></li>
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'magical-realism')}}">Magical Realism</a></li>
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'mytstery')}}">Mystery</a></li>
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'science-fiction')}}">Science Fiction</a></li>
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'suspense-thriller')}}">Suspense Thriller</a></li>
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'romance')}}">Romance</a></li>
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'dystopia')}}">Dystopia</a></li>
</ul>
