<!--------------------------------------------------------------------------------
 Genres HTML

 This template is meant to be a sidebar menu navigation of the book database. It is a list of ten genres that users can look through to sort books in the database.
--------------------------------------------------------------------------------->
<h2 class="genre-title">Genres</h2>

<ul class="genres-list">
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'classic')}}">Classic</a></li>
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'non-fiction')}}">Non-Fiction</a></li>
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'fantasy')}}">Fantasy</a></li>
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'young-adult')}}">Young Adult</a></li>
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'magical-realism')}}">Magical Realism</a></li>
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'mystery')}}">Mystery</a></li>
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'science-fiction')}}">Science Fiction</a></li>
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'humor')}}">Humor</a></li>
	<li class='genre'><a href="{{url_for('showGenreBooks', book_genre = 'romance')}}">Romance</a></li>
</ul>
