<!--------------------------------------------------------------------------------
 ListBooks HTML

 This template shows a list of books depending on the function used to call this template.

 showRecentBooks - this shows the ten most recent books added to the database at any given time. It is also the homepage of the website.

 showGenreBooks - this shows specific books in a given genre which depends on which link is selected in the genre nevigation menu.
--------------------------------------------------------------------------------->
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="main-and-sidebar-wrapper">
	<aside class="sidebar">
		<div class="genres">
			{% include "genres.html" %}
		</div>
	</aside>
	<section class="main">
		<div class="page-headers">
			<!-- Shows the appropriate genre or recent books -------------------------->
			<h2 class="book-header">{{book_type}} Books</h2>

			<!-- Allows the user to add a book, if they are logged in ----------------->
			<a class="add-book-link" href="{{url_for('addBook')}}">Add Book</a>
		</div>
		<!-- Lists all books recently added or by genre ----------------------------->
		<ul class="books-list">
			{% for book in books %}
				<li><a href="{{url_for('showBookInfo', book_title = book.urlSafeTitle, book_id = book.id)}}">
					{{book.title}}
					<!-- If recently added list is shown, also show the genre ------------->
					{% if book_type == "Recently Added" %}
						(<em>{{book.genre.replace( '-', ' ' ).title()}}</em>)
					{% endif %}
				</a></li>
			{% endfor %}
		</ul>
	</section>
</div>

{% endblock %}
