<!--------------------------------------------------------------------------------
 Login HTML

 This template allows the user to log in using an outside authentication source. Currently we are using the Google sign-in OAuth.
--------------------------------------------------------------------------------->
{% extends "main.html" %}
{% block content %}

<!-- No visible login button or navigation. Do not include header.html ---------->
<header>
	<h1 class="page-title login-title">My Book Catalog</h1>
</header>

<div class="main-and-sidebar-wrapper">
	<section class="main login-main">
		<div class="page-headers login-headers">
			<h2>Login using Google</h2>
		</div>
		<!-- GOOGLE PLUS SIGN IN ---------------------------------------------------->
		<button id="signinButton">Sign in with Google</button>
		<div id="result"></div>
		<script>
			$('#signinButton').click(function()
			{
				auth2.grantOfflineAccess().then(signInCallback);
			});
		</script>
		<script>
			function signInCallback(authResult)
			{
				if (authResult['code'])
				{
					//--Hide the sign-in button now that the user is authorized-------------
					$('#signinButton').attr('style', 'display: none');

					//--Send the code to the server-----------------------------------------
					$.ajax({
						type: 'POST',
						url: '/gconnect?state={{STATE}}',
						//--`X-Requested-With` header to protect against CSRF attacks---------
						headers: {
							'X-Requested-With': 'XMLHttpRequest'
						},
						contentType: 'application/octet-stream; charset=utf-8',
						success: function(result)
						{
							if(result)
							{
								$('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
								setTimeout( function()
								{
									window.location.href = "/";
								}, 4000);
							}
							else if( authResult['error'] )
							{
								console.log('There was an error: ' + authResult['error']);
							}
							else
							{
								$('#result').html('Failed to make a server side call. Check your configuration and console.');
							}
						},
						processData: false,
						data: authResult['code']
					});
				}
				else
				{
					console.log("Error:");
					console.log(error);
				}
			}
		</script>
	</section>
</div>

{% endblock %}
