{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="main-and-sidebar-wrapper">
	<aside class="sidebar">
		<div class="genres">
			{% include "genres.html" %}
		</div>
	</aside>
	<section class="main">
		<div class="page-headers">
			<h2 class="book-header">{{book_type}} Books</h2>
			<a class="add-book-link" href="{{url_for('addBook')}}">Add Book</a>
		</div>
		<div class="genre-books">
			{% for book in books %}
				{% if loop.first %}
					<h3 class="genre-name">{{book.genre.replace( '-', ' ' ).title()}}</h3>
						<ul>
				{% endif %}
				{% if loop.changed(book.genre) and not loop.first %}
					</ul>
					<h3 class="genre-name">{{book.genre.replace( '-', ' ' ).title()}}</h3>
					<ul>
				{% endif %}
				<li>
					<a href="{{url_for('showBookInfo', book_title = book.urlSafeTitle, book_id = book.id)}}">{{book.title}}</a>
				</li>
				{% if loop.last %}
					</ul>
				{% endif %}
			{% endfor %}
		</div>
	</section>
</div>

{% endblock %}
