{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="main-and-sidebar-wrapper">
	<aside class="sidebar">
		<div class="genres">
			{% include "genres.html" %}
		</div>
	</aside>
	<section class="main">
		<div class="page-headers">
			<h2>Recently Added Books</h2>
			<a class="add-book-link" href="#">Add Book</a>
		</div>
		<ul class="recent-books">
			{% for book in recentBooks %}
				<li><a href="#">
					{{book.title}} (<em>{{book.genre}}</em>)
				</a></li>
			{% endfor %}
		</ul>
	</section>
</div>

{% endblock %}
