/*--GENERAL CSS----------------------------------------------------------------*/
a
{
	color: midnightblue;
	text-decoration: none;
}

a:hover
{
	color: hotpink;
	text-shadow: 1px 1px pink;
	padding: 5px;
	border: 1px solid pink;
	border-radius: 20px;
}

button
{
	color: white;
	background-color: navy;
	border-radius: 5px;
}

button:hover
{
	color: navy;
	background-color: white;
}


/*--HTML and BODY CSS----------------------------------------------------------*/
html
{
	box-sizing: border-box;
}

*,
*::before,
*::after
{
	box-sizing: inherit;
}

body, html
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body
{
	font-family: Arial Rounded MT Bold;
	margin-left: auto;
	margin-right: auto;
	background-color: LightSkyBlue;
}

.container
{
	display: flex;
	flex-direction: column;
}

/*--Page Header CSS------------------------------------------------------------*/
header
{
	display: flex;
	flex-direction: row;
	height: 100px;
	background-color: purple;
}

header nav
{
	width: 10%;
	list-style: none;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 20px;
	text-align: center;
	font-size: 18.5px;
	line-height: 25px;
}

.page-title
{
	width: 70%;
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	font-weight: bold;
	color: midnightblue;
	line-height: 70px;
	font-weight: 300;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.login-title
{
	width: 100%;
}

.username
{
	width: 10%;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 20px;
	text-align: center;
	margin-right: 10px;
}

.login:hover
{
	text-shadow: none;
	padding: 0px;
	border: none;
	border-radius: 0px;
}

.login-button-area
{
	width: 10%;
	margin-top: auto;
	margin-bottom: auto;
}

.login-button
{
	width: 80px;
	font-size: 20px;
	color: white;
	background-color: navy;
	height: 50px;
	margin-top: auto;
	margin-bottom: auto;
	padding: 0;
}

.login-button:hover
{
	color: navy;
	background-color: white;
}

/*-------------------------------------------------------------------------------
 Page Layout CSS
-------------------------------------------------------------------------------*/
.main-and-sidebar-wrapper
{
	display: flex;
	flex-direction: row;
	height: 88vh;
}

/*--Sidebar CSS----------------------------------------------------------------*/
.sidebar
{
	flex: 1;
	max-width: 300px;
	padding-left: 20px;
	background-color: green;
}

.genres-list
{
	list-style: none;
	padding-left: 10px;
	font-size: 20px;
	line-height: 30px;
}

/*--Main Page Information CSS--------------------------------------------------*/
.main
{
	flex: 3;
	padding-left: 20px;
}

.page-headers
{
	display: flex;
	flex-direction: row;
}

.add-book-link
{
	margin-left: 25px;
	margin-top: 25px;
}

.add-book-link:hover
{
	margin-left: 20px;
	margin-top: 15px;
	padding-top: 15px;
}

.books-list
{
	list-style: none;
	line-height: 30px;
	margin-top: 0;
}

/*--Book Information Page CSS--------------------------------------------------*/
.book-information
{
	width: 350px;
	padding: 15px;
	background: lightgreen;
	display: flex;
	flex-direction: column;
	border: 1px solid darkgreen;
	border-radius: 5px;
	line-height: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	text-align: center;
}

.book-info-headers
{
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid grey;
}

.book-title
{
	margin: 0;
}

.book-author
{
	margin: 0;
	font-size: 14px;
}

.book-genre
{
	margin-top: 15px;
	text-align: left;
}

.book-description
{
	margin-top: 0;
	text-align: left;
}

.edit-button
{
	margin-right: 10px;
}

/*--Add/Edit Book Pages CSS----------------------------------------------------*/
.add-edit-header
{
	color: red;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.form-info
{
	width: 350px;
	padding: 15px;
	background: lightgreen;
	display: flex;
	flex-direction: column;
	border: 1px solid darkgreen;
	border-radius: 5px;
	line-height: 40px;
	margin-left: auto;
	margin-right: auto;
}

.form-label
{
	display: inline-block;
	float: left;
	clear: left;
	width: 110px;
	margin-left: 20px;
}

.form-control
{
	display: inline-block;
	float: left;
}

.buttons
{
	display: flex;
	flex-direction: row;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

/*--Delete Book Page CSS-------------------------------------------------------*/
.delete-header
{
	color: red;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.delete-form
{
	width: 100%;
	display: flex;
	flex-direction: row;
	display: inline-block;
	text-align: center;
}

.delete
{
	margin-bottom: 10px;
}

/*--Delete/Add/Edit Button CSS-------------------------------------------------*/
#submit
{
	color: white;
	background: navy;
	width: 100px;
	border-radius: 5px;
	white-space: nowrap;
	font-size: 16px;
	padding: 5px;
}

#submit:hover
{
	color: navy;
	background: white;
}


/*--Login Page CSS-------------------------------------------------------------*/
.google-login
{
	margin-left: auto;
	margin-right: auto;
	color: blue;
}

.google-button
{
	text-align: center;
}

#signinButton
{
	display: inline-block;
	background: DodgerBlue;
	color: white;
	width: 190px;
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 1px grey;
	white-space: nowrap;
	font-size: 16px;
	padding: 5px;
}

#signinButton:hover
{
	background: white;
	color: DodgerBlue;
}

/*--My/All Pages CSS-----------------------------------------------------------*/
.genre-name
{
	color: orange;
	margin-bottom: 0;
}

/*-------------------------------------------------------------------------------
 Responsive CSS Code
-------------------------------------------------------------------------------*/
/*--CSS Change at width of 1350px----------------------------------------------*/
@media (max-width: 1350px)
{
	header nav
	{
		width: 20%;
	}
}

/*--CSS Change at width of 1570px----------------------------------------------*/
@media (max-width: 1570px)
{
	header
	{
		height: 100px;
	}

	header nav
	{
		font-size: 15px;
		line-height: 20px;
	}

	.page-title
	{
		font-size: 40px;
		line-height: 70px;
	}

	.username
	{
		font-size: 15px;
	}

	.login-button
	{
		width: 65px;
		font-size: 15px;
		height: 45px;
		margin-right: 30px;
	}
}

/*--CSS Change at width of 900px-----------------------------------------------*/
@media (max-width: 900px)
{
	.genres-list
	{
		font-size: 15px;
		line-height: 25px;
	}
}

/*--CSS Change at width of 700px-----------------------------------------------*/
@media (max-width: 700px)
{
	header
	{
		flex-wrap: wrap;
		height: 110px;
	}

	header nav
	{
		display: flex;
		flex-direction: row;
		order: 2;
		width: 100%;
		font-size: 14px;
		line-height: 0px;
		margin-bottom: 15px;
	}

	.links
	{
		width: 33%;
	}

	.page-title
	{
		order: 0;
		width: 80%;
		font-size: 35px;
		line-height: 70px;
		margin-bottom: 0;
	}

	.username
	{
		display: none;
		width: 0%;
	}

	.login-button-area
	{
		order: 1;
		width: 15%;
	}

	.main-and-sidebar-wrapper
	{
		flex-direction: column;
		height: 100px;
	}

	.sidebar
	{
		display: flex;
		flex-direction: column;
		padding-left: 0;
		max-width: 100%;
	}

	.genre-title
	{
		text-align: center;
		font-size: 20px;
		padding: 0;
		margin: 0;
		margin-top: 10px;
	}

	.genres-list
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		padding-left: 0;
		margin-top: 0;
		margin-left: 20px;
	}

	.genre
	{
		width: 33%;
	}
}

/*--CSS Change at width of 450px-----------------------------------------------*/
@media (max-width: 450px)
{
	a:hover
	{
		padding: 1.3px;
	}

	.page-title
	{
		font-size: 25px;
		line-height: 50px;
	}

	.login-button
	{
		width: 60px;
		font-size: 15px;
		height: 45px;
	}

	.genre
	{
		width: 50%;
	}

	.book-header
	{
		font-size: 18px;
	}

	.add-book-link
	{
		font-size: 15px;
		margin-top: 17px;
	}

	.add-book-link:hover
	{
		padding: 5px;
	}

	.books-list
	{
		padding-left: 0;
		font-size: 15px;
	}
}
