h1
{
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: midnightblue;
	line-height: 60px;
	font-weight: 300;
	text-align: center;
}

.login-button
{
	font-size: 20px;
	float: right;
	color: white;
	background-color: navy;
}
